<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Inicio como Invitado</title>
</head>

<body>

    <div class="container">
        <h1>Bienvenido</h1>
        <p>Inicia como invitado para explorar nuestro sitio.</p>
        <button id="guestButton">Iniciar como Invitado</button>
    </div>

    <div class="background-image"></div>

    <script src="index.js"></script>
    
</body>
</html>