<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="i class="fa-solid fa-book" style="color: #4b1f51;"></i>"
    <title>Página Principal</title>
</head>
<body>
    
    <div class="container">
        <div class="column" id="serversColumn">
            <h2>Servidores</h2>
            <ul id="serverList">
                <!-- Lista de servidores-->
            </ul>
            <button id="createServer">Crear Servidor</button>
        </div>
        <div class="column" id="channelsColumn">
            <h2>Canales</h2>
            <ul id="channelList">
                <!-- Lista de canales -->
            </ul>
            <button id="createChannel">Crear Canal</button>
        </div>
        <div class="column" id="messagesColumn">
            <h2>Mensajes</h2>
            <ul id="messageList">
                <!-- Lista de mensajes -->
            </ul>
            <textarea id="newMessage" placeholder="Escribe un nuevo mensaje"></textarea>
            <button id="sendMessage">Enviar</button>
        </div>
    </div>

    <div class="background-image"></div>

    <script src="index.js"></script>

</body>
</html>